---
const { title } = Astro.props
---

<section>
{title && <h2>{title}</h2>}
<slot/> <!--usado para renderizarlo que va por debajo de componente (envuelto por el mismo). Es un hueco que se usa dentro del componente -->
</section>

<style>
    section {
    max-width: 700px;
    margin: 0 auto 48px;

}

h2 { 
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem ;
}
</style>